/* =========== COMMON STYLES =========== */
*,
::after,
::before {
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 120px 0;
}
/* =========== /COMMON STYLES =========== */

/* =========== HEADER STYLES =========== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.text-part {
  color: #2e2f42;
}
.menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: block;
  padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}
.adress-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adress-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-info:hover,
.adress-info:focus {
  color: #404bbf;
}
/* =========== /HEADER STYLES =========== */
/* =========== MAIN STYLES =========== */
.main-title {
  background: #2e2f42;
  padding: 188px 0;
}
.main-header {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.order-service-btn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}
/* =========== / MAIN STYLES =========== */
/* =========== Our Benefits =========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}
.benefits-list-item {
  justify-content: flex-start;
  width: calc((100% - 72) /4);
}
.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  min-width: 264px;
}
/* =========== /Our Benefits =========== */
/* =========== Our Team Section =========== */
.our-team {
  background: #f4f4fd;
}
.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-list-item {
  background: #fff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.our-tem-list-container {
  text-align: center;
  padding: 32px 0;
}
.our-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-member-profsn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========== /Our Team Section =========== */
/* =========== Our Portfolio Section =========== */
.our-portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  min-width: 218px;
  margin-bottom: 72px;
  text-align: center;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
        row-gap: 48px;
          column-gap: 24px;
}
.our-portfolio-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
}
.our-portfolio-img {
  background: url("path_to_image");
}
.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========== /Our Portfolio Section =========== */
/* =========== Footer Section =========== */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   display: inline-block;
   margin-bottom: 16px;
   
}
.text-part-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.text-part-footer {
  color: #f4f4fd;
}
.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* =========== /Footer Section =========== */
